.card {
  height: 100%;
}

.alert {
  border-radius: 0;
}

.selected {
  background-color: rgb(159, 255, 114) !important;
}

body {
  min-height: 100vh;
  padding: 0;
}

ul li a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

select {
  padding: 0px 10px;
}

section {
  box-shadow: 0px -6px 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(236, 236, 236);
}

.navbar {
  background-color: #0d87d4 !important;
  width: 100%;
  padding: 20px !important;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.jumbotron {
  border-radius: 0px !important;
  padding: 14rem 3rem !important;
}

.card {
  box-shadow: 3px 3px 10px #054e7c2f !important;
  border-radius: 4px !important;
  border: 1px solid rgba(0, 1, 75, 0.1);
  transition: background-color 0.25s ease;
  cursor: pointer;
  border-bottom: 4px solid #0d87d4 !important;
}

.card-img {
  height: 200px;
  border-radius: 4px 4px 0px 0px !important;
  background-size: cover !important;
  background-position: center;
}

.btn-primary {
  background-color: #0d87d4 !important;
  padding: 10px 16px !important;
  border: none !important;
}

.btn-primary:hover {
  background-color: #0b79bd !important;
  border: none;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

small {
  color: rgb(41, 41, 41);
}
